# node.js 관련
node_modules/

# 테스트 결과
/coverage/

# Next.js 관련
.next/
out/

# 빌드 결과물
/build/

# 운영환경
.env*
.next-env.d.ts
*.tsbuildinfo

# 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS / 시스템
.DS_Store
*.pem

# Vercel 환경설정 
.vercel/

# VSCode 등 IDE 개인 설정
.vscode/
